{% extends 'index.html' %}

{% block body %}
<div class="row" style="height: 200px"></div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <div class="input-group">
          <input id="search_text" type="text" class="form-control" placeholder="Трэк номер">
          <span class="input-group-btn">
            <button id="btn_search" class="btn btn-default" type="button">Искать!</button>
          </span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div id="result-block" class="col-lg-6 col-lg-offset-2">
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <div id="tk_select" class="btn-group" data-toggle="buttons">
            {% for tk in tk_list %}
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="{{ tk.id }}" autocomplete="off"> {{ tk.name }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}